<div id="<%-module.map.id%>">

	<div class="loaderWrapper">
		<div class="loader">
			<div class="preloader5"><span></span><span></span><span></span></div>
		</div>
	</div>

	<% if(downloads && downloads.length > 0) {%>

		<div class="downloads">

			<% _.each(downloads, function(download, index) { %>

				<div class="videoRow <%= download.id %>"></div>
				
			<% }) %>

		</div>

	<% } else if(hasError == true) { %> 

		<div class="empty">
			<%=error%>
		</div>

	<% } else if(downloads && downloads.length == 0) { %> 

		<div class="empty">
			<%=empty%>
		</div>

	<% } %>
</div>