<div id="<%-module.map.id%>">
	<% if(downloads.length) {%>

		<div class="caption">
			<%=caption%>
		</div>

		<div class="downloads">
		</div>
		<div class="loaderWrapper">
			<div class="loader">
				<div class="preloader5"><span></span><span></span><span></span></div>
			</div>
		</div>

	<% } else { %> 

		<div class="empty">
			<%=empty%>
		</div>

	<% } %>
	<iframe width="560" height="315" sandbox="allow-same-origin allow-scripts allow-popups" title="Nothing to Hide (VOSTFR)" src="https://media.zat.im/videos/embed/35badfed-5322-48ac-b5c1-71b1ad88262e" frameborder="0" allowfullscreen></iframe>
	<button id="downloadButton">Download</button>
</div>